<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <title>Admin Side</title>
    <style>
        /* Styles for the header */
.header1 {
    background-color: #3b3b3b;
    color: #fff;
    padding: 20px 0;
}

.container-1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the navigation bar */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffc107; /* Change color on hover */
}

    </style>
    <script>
         $('a.confirmDeletion').on('click',function(e){
       if(!confirm('Confirm deletion'))
          return false;

   })
    </script>
</head>
<body>

<header class="header1">
    <div class="container-1">
        <h1>SSR Education </h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </div>
</header>


