<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/207456fad4.js" crossorigin="anonymous"></script>
    <style>

footer {
    background-color:rgb(37, 36, 36);
    height: 40%;
    width: 100%; /* Adjust width for smaller screens */
    /* Limit maximum width for larger screens */
  
}  

.footer-content  {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
 
}
.con{
    margin-bottom: 25px;
}
.part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}
.part .first {
    flex: 3; /* Takes up 75% of the space */
}

.part .second {
    flex:1; /* Takes up 25% of the space */
    
   margin-left: 25%;
}
.second i {
    font-size: 30px; /* Adjust size as needed */
    margin-left: 15px; /* Add spacing between icons */
}
.links {
    display: flex;
}

.links a {
    text-decoration: none; /* Remove underline */
    margin-right: 4%; /* Add padding for spacing */
    color: aliceblue;
}
 footer i {
    color: white; /* Set the color of the icons to white */
}
    </style>
    <footer>
        <div class="footer-content">
        <div class="con">
            <img src="/images/logo1.png" alt="" srcset="">
        </div>
          <h2 class="con">Where will your studies take you?</h2>
          <div class="con">
            <div class="part">
                <div class="first">
                <p>At educations.com, we believe that students who study abroad become the next generation of globally-minded adventurers and leaders - and we want more of you to do it! Every year, our search engine helps over 8 million students connect with some of the best universities and schools around the world.
                </p>
                </div>
                <div class="second">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-youtube"></i>
                </div>
                    
            </div>
        </div>

        <div class="links">
            <a href="#">Terms and Conditions</a>
            <a href="#">About us</a>
            <a href="#">Promote your program</a>
            <a href="#">Contact us</a>
            <a href="#"></a>
        </div>
        
        </div>    
        
    </footer>

    <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="/js/editor.js"></script>
</body>
</html>