<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="mainhead">
                <div class="logo-head">
                    <img src="/images/logo1.png" alt="logo">
                </div>
                <div class="sections">
                    <div class="globe">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="search">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="auth-buttons">
                        <div class="sbtn">
                            <button onclick="">Sign In</button>
                        </div>
                        <div class="rbtn">
                            <button>Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="head-down">
            <div class="content">
                List your programs ?
            </div>
        </div>

        <div class="head-down-down">
            <div class="btns">
                <div class="pbtn">
                    <div class="dropdown">
                        <button onclick="toggleDropdown('dropdown1')" class="dropbtn">Programs</button>
                        <div id="dropdown1" class="dropdown-content">
                            <a href="Bacherlor">Bacherlor's degrees</a>
                            <a href="Master">Master's degrees</a>
                            <a href="MBA">MBA</a>
                            <a href="PHDs">PHDs</a>
                        </div>
                    </div>
                </div>
                <div class="gbtn">
                    <div class="dropdown">
                        <button onclick="toggleDropdown('dropdown2')" class="dropbtn">Get study advice</button>
                        <div id="dropdown2" class="dropdown-content">
                            <a href="#">Advice 1</a>
                            <a href="#">Advice 2</a>
                            <a href="#">Advice 3</a>
                        </div>
                    </div>
                </div>
                <div class="hbtn">
                    Help
                </div>
            </div>
        </div>

</div>
    <script src="main/index.js"></script>

