<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="mainhead">
                <div class="logo-head">
                    <img src="/images/logo1.png" alt="logo">
                </div>
                <div class="sections">
                    <div class="globe">
                        <div id="google_translate_element">
                            <i class="fa-solid fa-globe"></i>                        </div>
                        
                    </div>
                    <div class="search">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="auth-buttons">
                        <div class="sbtn">
                            <button onclick="">Sign In</button>
                        </div>
                        <div class="rbtn">
                            <button>Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="head-down">
            <div class="content">
                List your programs ?
            </div>
        </div>

        <div class="custom-head-down-down">
            <div class="custom-btns">
                <div class="custom-pbtn">
                    <div class="custom-dropdown">
                        <button class="custom-dropbtn">Programs</button>
                        <div id="custom-dropdown1" class="custom-dropdown-content">
                            <a href="Bacherlor">Bacherlor's degrees</a>
                            <a href="Master">Master's degrees</a>
                            <a href="MBA">MBA</a>
                            <a href="PHDs">PHDs</a>
                        </div>
                    </div>
                </div>
                <div class="custom-gbtn">
                    <div class="custom-dropdown">
                        <button class="custom-dropbtn">Get study advice</button>
                        <div id="custom-dropdown2" class="custom-dropdown-content">
                            <a href="#">Country guides</a>
                            <a href="#">Scholarships</a>
                            <a href="#">How to Study Abroad Guide</a>
                            <a href="#">Quizzes & Tests</a>
                            <a href="#">Subject guides</a>
                            <a href="#">Articles</a>
                            <a href="#">Chat with Students</a>
                        </div>
                    </div>
                </div>
                <div class="custom-hbtn">
                    Global Study Fair
                </div>
            </div>
        </div>
        
</div>
