/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #f2f2f2;
    height: 55px;
    width: 100%; /* Adjust width for smaller screens */
  margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


