<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/body.css">
</head>
<body>
    <div class="box">
        <div class="text-b1">
            <div class="line">
                   Browse thousands of degrees from around 
            </div>
            <div class="line2">
                    the  world
            </div>
        </div>
        <div class="boxs">
            <div class="dropdown">
                <button class="box-study">What do you want to study <span>&#9660;</span></button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="place-box">Where do you want to study <span>&#9660;</span></button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
            <div class="search">
                <button>Search</button>
            </div>
        </div>
    </div>
</body>
</html>
