<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/body.css">
</head>
<body>
    <div class="box">
        <div class="text-b1">
            <div class="line">
                   Browse thousands of degrees from around 
            </div>
            <div class="line2">
                    the  world
            </div>
        </div>
        <div class="boxs">
            <div class="dropdown">
                <button class="box-study">What do you want to study <span>&#9660;</span></button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="place-box">Where do you want to study <span>&#9660;</span></button>
                <div class="dropdown-content">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
            <div class="search">
                <button>Search</button>
            </div>
        </div>
    </div>
     <br>
     <br>
     <div class="horizontal-line-container">
        <div class="horizontal-line"></div>
    </div>
    <div class="cat-container">
        <div class="tit-cat">
            <div class="cat-title">
                Browse programs by category
            </div>
            <div>
                <button class="cat-btn">View all the disciplines</button>
            </div>
        </div>

        <div class="card-container">

            <div class="card">
                <div class="card-content">
                  <h2 class="card-title">Card 1</h2>
                  <p class="card-description">Description 1</p>
                  <p class="card-data">Data 1</p>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <h2 class="card-title">Card 1</h2>
                  <p class="card-description">Description 1</p>
                  <p class="card-data">Data 1</p>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <h2 class="card-title">Card 1</h2>
                  <p class="card-description">Description 1</p>
                  <p class="card-data">Data 1</p>
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <h2 class="card-title">Card 1</h2>
                  <p class="card-description">Description 1</p>
                  <p class="card-data">Data 1</p>
                </div>
              </div>
            
        </div>
        
    </div>
    <div class="black-body"></div>

    <div class="sch-container">
        <div class="tit-cat">
            <div class="cat-title">
                Scholarships for international students
            </div>
            <div>
                <button class="cat-btn">View all</button>
            </div>
        </div>
    
        <div class="sch-txt">
            Worried about your study costs?
        </div>
        <div class="sch-cards">
            <div class="box-sch">
                <img src="images/profile.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>


    <div class="sch-container">
        <div class="tit-cat">
            <div class="cat-title">
                Discover study abroad countries
            </div>
            <div>
                <button class="cat-btn">View all</button>
            </div>
        </div>
    
        <div class="sch-txt">
            Explore our detailed breakdowns of the study abroad destinations around the world!
        </div>
        <div class="sch-cards">
            <div class="box-sch">
                <img src="images/profile1.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile1.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile1.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile1.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 1</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>

    <div class="sch-container">
        <div class="tit-cat">
            <div class="cat-title">
                Student guides and tips
            </div>
            <div>
                <button class="cat-btn">View all</button>
            </div>
        </div>
    
        <div class="sch-txt">
            Learn our best tips for studying abroad!
          </div>
        <div class="sch-cards">
            <div class="box-sch">
                <img src="images/profile3.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 3</h2>
                    <p>Description Line 2</p>
                    <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile3.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 3</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile3.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 3</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="box-sch">
                <img src="images/profile3.png" alt="Image Description">
                <div class="content">
                    <h2>Description Line 3</h2>
                    <p>Description Line 2</p>
                   <div class="data">
                        <div class="txt-data">
                            Data
                        </div>
                        <div class="read-data">
                            Read-More
                        </div>
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </div>


</body>
</html>
